.productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
.productImage {
    width: 200px;
    margin: 5px auto;
}
.product {
    width: 25rem;
    margin: 10px;
}
